.footer{
    background-color: #343A40;
    color:white;
   width: 100%;
   max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 0px;
    margin-bottom: 15px;

    .quick{
        padding-left: 3%;
    }
    .messageForm{
        width: 70%;
    
        .submitbtn{
            background-color: rgb(36, 81, 206);
        color: white;
        }
    }
.btn{
    color: rgb(248, 194, 17); 
    font-weight: 800;
}
}