// Primary
$gold: #F4BA05;
$darkgrey: #2C2D28;

// Secondary
$black: #1D1D1D;
$mediumgray: #555650;
$lightgold: #FAE39B;
$darkgold: #C39404;

// Supporting
$medium: #969696;
$light: #C8C8C9;
$superlight: #EFEFEF;
$beige: #F7F7F3;
$white: #FFFFFF;

// Status
$danger: #D0021B;
$success: #D4F772C;
$update: #0F4749;
$warning: #E07600;
