<!--
<div class="container-fluid">
  <div class="row">
    <div class="sb2-1">



<ngb-accordion  activeIds="1"
*ngFor="let menu of adminMenu">

<ngb-panel id="menu.id" >

  <ng-template ngbPanelTitle>

    <span *ngIf="menu.childMenu.length===0"><a [routerLink]="menu.route">{{menu.menuText}}</a></span>
    <span *ngIf="menu.childMenu.length>0">{{menu.menuText}}</span>
  </ng-template>

  <ng-template ngbPanelContent *ngIf="menu.childMenu.length>0">
    <ul *ngFor="let submenu of menu.childMenu">
      <li><a [routerLink]="submenu.route" >{{submenu.menuText}}</a></li>
    </ul>

  </ng-template>

</ngb-panel>
</ngb-accordion>


    </div>

    <div class="sb2-2">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>


-->

<div class="">
  <div class="row">

    <div class="col-2">


      <mat-accordion *ngFor="let menu of adminMenu">


        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header" *ngIf="menu.childMenu.length>0">

            <span>
            <mat-icon [class]="menu.iconCls" aria-hidden="true"></mat-icon>
              <!--            <mat-icon>{{menu.iconCls}}</mat-icon>-->
          </span>

            {{menu.menuText}}

          </mat-expansion-panel-header>

          <mat-expansion-panel-header class="panel-header" *ngIf="menu.childMenu.length===0">
          <span>
            <mat-icon [class]="menu.iconCls" aria-hidden="true"></mat-icon>
          </span>
            <a [routerLink]="menu.route">
              {{menu.menuText}}</a>
          </mat-expansion-panel-header>

          <!--          <p>This is the primary content of the panel.</p>-->
          <div *ngIf="menu.childMenu.length>0">
            <mat-action-row *ngFor="let submenu of menu.childMenu">
              <a [routerLink]="submenu.route">{{submenu.menuText}}</a>
            </mat-action-row>
          </div>

        </mat-expansion-panel>

      </mat-accordion>

    </div>

    <div class="col-10">
      <router-outlet></router-outlet>

    </div>


  </div>
</div>
