// .packagedetails{
//    text-align:center;
// position: absolute;
// width: 80%;
// }

// .tabtitle{
//     background-color: green;
// }

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    text-align: -webkit-center;

//   width: 60%;
//   border: 3px solid green;



@media screen and (min-width: 400px) {
  .offer  {
    // margin: auto;
    // text-align: center;
    // background-color: red;
  
  
    display: inline-block;
    //padding: 15px;
    padding-left: 5px;
    background-color: #ccc;
    font-weight: normal;
    font-size: 14px;
    font-family: OpenSans, "Arial", "Georgia", "Verdana", "Segoe UI", serif;
    cursor: pointer;
    color: white;
    box-sizing: border-box;
    width: 100px;
    border: none;
    height: 100px;
    border-radius: 70px;
    border: none;
    text-align: center;
    vertical-align: middle;
    line-height: 109px;
    margin-left: 2em;
  
  
  }
  .oldoffer  {
    background-color: #0956a4 !important;
  
    }
}

@media screen and (min-width: 800px) {
  .offer  {
    // margin: auto;
    // text-align: center;
    // background-color: red;
  
  
    display: inline-block;
    padding: 15px;
    padding-left: 5px;
    background-color:green;
    font-weight: normal;
    font-size: 14px;
    font-family: OpenSans, "Arial", "Georgia", "Verdana", "Segoe UI", serif;
    cursor: pointer;
    color: white;
    box-sizing: border-box;
    width: 140px;
    border: none;
    height: 140px;
    border-radius: 70px;
    border: none;
    text-align: center;
    vertical-align: middle;
    line-height: 109px;
    margin-left: 2em;
  
  
  }
  .oldoffer  {
    background-color: #0956a4 !important;
  
    }
}

  


.packagetable{
  float: left;
}

.package{
  background-color: greenyellow;
  width: 60%;
  padding: 5px;
  margin: 10px 0px;

}
  

    .table {
     // border-collapse: collapse;
      padding: 5px;
      margin: 10px;


    }
    .table-view {
      margin-left: 5px;
      table{
        width: 60%  !important;

      }
    }
    
    th, td {
          border: 1px solid black;
    }

  }

