<div class="header" *ngIf="start">
  <h1>Registration Form Start Here</h1>
  <button class="btn btn-primary" (click)="startForm()">Start</button>
</div>

<div *ngIf="!start" class="form container">

  <!--  <div class="liner"></div>-->

  <div class="row">
    <ul>
      <li>
        <a routerLink="./yourinfo" routerLinkActive="active" title="Your Info">
          <span><img src="../../../../../assets/images/customer_create_icon/profile.png"></span>
        </a>
      </li>


      <li>
        <a routerLink="./addressinfo" routerLinkActive="active" title="Your Info">
          <span><img src="../../../../../assets/images/customer_create_icon/address.png"></span>
        </a>
      </li>


      <li>
        <a routerLink="./companyinfo" routerLinkActive="active" title="Your Info">
          <span><img src="../../../../../assets/images/customer_create_icon/office.png"></span>
        </a>
      </li>


      <li>
        <a routerLink="./submit" routerLinkActive="active" title="Your Info">
          <span><img src="../../../../../assets/images/customer_create_icon/submit.png"></span>
        </a>
      </li>

    </ul>


    <div class="clr"></div>

  </div>

  <div class="row">
    <router-outlet></router-outlet>

  </div>


</div>
