
.account-details {
  grid-area: details;
}

.user-status {
  grid-area: status;
}

.grid-container {
  display: grid;
  grid-template-areas: 'details status';

  span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
  }

}
