<h1 class="header">Contact Metalink</h1>
<h4 class="message">Get in touch with us to get the ball rolling</h4>

<div class="social">
  <ul class="listItems">

    <li>
      <img src="../../../../assets/images/icons/email.png" class="image">
      <div class="type">EMAIL</div>
      <div class="detail">
        <a href="mailto:senddetail@metalink.com?Subject=Meta%20Link%20Feedback" target="_top">sendemail@metalink</a>
      </div>
    </li>

    <li>
      <img src="../../../../assets/images/icons/phone.png" class="image">
      <div class="type">PHONE</div>
      <div class="detail"><a href="tel:+15717581234">+1983433438</a></div>
    </li>

    <li>
      <img src="../../../../assets/images/icons/skype.png" class="image">
      <div class="type">SKYPE</div>
      <div class="detail"><a target="_blank" href="https://www.skype.com/metalink">#Metalink</a></div>
    </li>


    <li>
      <img src="../../../../assets/images/icons/twitter.png" class="image">
      <div class="type">TWITTER</div>
      <div class="detail"><a  target="_blank" href="https://www.twitter.com/metalink">@Metalink</a></div>
    </li>

    <li>
      <img src="../../../../assets/images/icons/facebook.png" class="image">
      <div class="type">FACEBOOK</div>
      <div class="detail"><a  target="_blank"  href="https://www.facebook.com/metalink">#Metalink</a></div>
    </li>

  </ul>
</div>

<div class="clr"></div>

<h1 class="header">{{ title }}</h1>

<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
