<h1>{{formHeader}} </h1>
<form class="customer_logIn_form">

  <div class="row">
    <div class="col-6">
      <label for="">User Id</label>

      <input type="text" name="userId" [(ngModel)]="user.userId" #userId="ngModel">
    </div>
    <div class="col-6">
      <label for="">Password</label>
      <input type="text" name="password" [(ngModel)]="user.password" #password="ngModel">
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <label for="">First Name</label>
      <input type="text" name="firstname" [(ngModel)]="user.firstname" #firstname="ngModel">
    </div>
    <div class="col-6">
      <label for="">Last Name</label>
      <input type="text" name="lastname" [(ngModel)]="user.lastname" #lastname="ngModel">
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <label for="">Email</label>
      <input type="text" name="email" [(ngModel)]="user.email" #email="ngModel">
    </div>
    <div class="col-6">
      <label for="">Secondary Email</label>
      <input type="text" name="secondemail" [(ngModel)]="user.secondemail"
             #secondemail="ngModel">
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <label for="">Phone</label>
      <input type="text" name="phone" [(ngModel)]="user.phone" #phone="ngModel">
    </div>
    <div class="col-6">
      <label for="">Second Phone</label>
      <input type="text" name="secondphone" [(ngModel)]="user.secondphone"
             #secondphone="ngModel">
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <label for="">Status</label>
      <input type="text" name="status" [(ngModel)]="user.status" #status="ngModel">
    </div>
    <div class="col-6">
      <label for="">Account type</label>
      <input type="text" name="accounttype" [(ngModel)]="user.accounttype"
             #accounttype="ngModel">
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <label for="">MAC Address </label>
      <input type="text" name="macaddress" [(ngModel)]="user.macaddress" #macaddress="ngModel">
    </div>
    <div class="col-6">
      <label for="">IP Address</label>
      <input type="text" name="ipaddress" [(ngModel)]="user.ipaddress" #ipaddress="ngModel">
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <label for="">Date Of Birth</label>
      <input type="text" name="dob" [(ngModel)]="user.dob" #dob="ngModel">
    </div>
    <!--    <div class="col-6">-->
    <!--      <label for=""></label>
   <input type="text"  name="password" [(ngModel)]="user.password"  #password="ngModel">-->
    <!--    </div>-->
  </div>

  <div class="row">
    <div class="col-6">
      <label for="">Address </label>
      <input type="text" name="address" [(ngModel)]="user.address" #address="ngModel">
    </div>
    <div class="col-6">
      <label for="">District</label>
      <input type="text" name="district" [(ngModel)]="user.district" #district="ngModel">
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <label for="">Zone</label>
      <input type="text" name="zone" [(ngModel)]="user.zone" #zone="ngModel">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <label for="">Profile Image </label>
      <input type="file"  #files (click)="setImage(files)">
    </div>

  </div>

  <div class="row">
    <div class="col-6">
    </div>
    <div class="col-6">
      <button class="btn btn-primary" (click)="updateOrAdduser()">Update</button>
      <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
  </div>

</form>
